parameters:
    level: 6
    paths:
        - src
        - tests
    symfony:
    ignoreErrors:
    -
        message: '#^Method KeronDigital\\AuthRedisStorageBundle\\Tests\\Fixtures\\TestKernel::configureContainer\(\) is unused\.$#'
        path: tests/Fixtures/TestKernel.php